################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/src/packages
bin
obj
*.bak
*.user
*.suo
.vs
null
