<?xml version="1.0" encoding="utf-8" ?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <xconnect>
      <runtime type="Sitecore.XConnect.Client.Configuration.RuntimeModelConfiguration,Sitecore.XConnect.Client.Configuration">
        <schemas hint="list:AddModelConfiguration">
          <!-- value of 'name' property must be unique -->
          <schema name="customermodel" type="Sitecore.XConnect.Client.Configuration.StaticModelConfiguration,Sitecore.XConnect.Client.Configuration" patch:after="schema[@name='collectionmodel']">
            <param desc="modeltype">TestSite.SC91.Foundation.XConnect.CustomModel, TestSite.SC91.Foundation.XConnect</param>
          </schema>
        </schemas>
      </runtime>
    </xconnect>
    <dataAdapterManager defaultProvider="xconnect">
      <providers>
        <add name="xconnect" type="Sitecore.Analytics.XConnect.DataAccess.XConnectDataAdapterProvider, Sitecore.Analytics.XConnect" fallbackProvider="mongo">
          <facets hint="raw:AddFacet">
            <!-- NOTE: Default values below are taken from the DefaultFacetKey property of the XConnect facets -->
            <facet facetKey="Addresses"/>
            <facet facetKey="PhoneNumbers"/>
            <facet facetKey="Emails"/>
            <!-- NOTE: Custom facets below here -->
            <facet facetKey="CustomerInfo"/>
          </facets>
        </add>
      </providers>
    </dataAdapterManager>
  </sitecore>
</configuration>