<?xml version="1.0" encoding="utf-8"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform" xmlns:set="http://www.sitecore.net/xmlconfig/set" xmlns:patch="http://www.sitecore.net/xmlconfig/patch">
  <sitecore>
    <sites>
      <site name="website" xdt:Locator="Match(name)" xdt:Transform="SetAttributes" />
    </sites>
    <settings>
      <setting name="Analytics.PerformLookup">
        <patch:attribute name="value">false</patch:attribute>
      </setting>
    </settings>
  </sitecore>
</configuration>