<?xml version="1.0" encoding="utf-8"?>
<connectionStrings xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <add name="core" connectionString="Data Source=localhost;Initial Catalog=TestSite.SC91_Core;User ID=coreuser;Password=IkuECggRNAICwZf1V0sK" xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
  <add name="security" connectionString="Data Source=localhost;Initial Catalog=TestSite.SC91_Core;User ID=securityuser;Password=Q86GQXutQBBCoZlLd6sK" xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
  <add name="master" connectionString="Data Source=localhost;Initial Catalog=TestSite.SC91_Master;User ID=masteruser;Password=iVb7oVvZ3w3OKVfv5i5y" xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
  <add name="web" connectionString="Data Source=localhost;Initial Catalog=TestSite.SC91_Web;User ID=webuser;Password=lt32Dhal0or1SQMbCA7Q" xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
  <add name="messaging" connectionString="Data Source=localhost;Initial Catalog=TestSite.SC91_Messaging;User ID=messaginguser;Password=ov2ZrDWy0wXHhBdgUKOA" xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
  <add name="xdb.marketingautomation" connectionString="Data Source=localhost;Initial Catalog=TestSite.SC91_MarketingAutomation;User ID=marketingautomationuser;Password=JpcNpfhlVbBltcFqKM4K" xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
  <add name="xdb.processing.pools" connectionString="Data Source=localhost;Initial Catalog=TestSite.SC91_Processing.Pools;User ID=poolsuser;Password=rg3TcFFWZZxOGaNSVTYv" xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
  <add name="xdb.referencedata" connectionString="Data Source=localhost;Initial Catalog=TestSite.SC91_ReferenceData;User ID=referencedatauser;Password=SDgLPuGca5RV0WXCGGBd" xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
  <add name="xdb.processing.tasks" connectionString="Data Source=localhost;Initial Catalog=TestSite.SC91_Processing.Tasks;User ID=tasksuser;Password=5h4mK3Ynx8UlZtYaiPMS" xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
  <add name="experienceforms" connectionString="Data Source=localhost;Initial Catalog=TestSite.SC91_ExperienceForms;User ID=formsuser;Password=vR562LYYeENFUVI3TTAJ" xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
  <add name="exm.master" connectionString="Data Source=localhost;Initial Catalog=TestSite.SC91_EXM.Master;User ID=exmmasteruser;Password=py16bDpEbBZ7RfL9cGym" xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
  <add name="reporting" connectionString="Data Source=localhost;Initial Catalog=TestSite.SC91_Reporting;User ID=reportinguser;Password=FhTTyBpxYR31nCk90uGc" xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
  <add name="sitecore.reporting.client" connectionString="https://TestSite.SC91.xconnect" xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
  <add name="sitecore.reporting.client.certificate" connectionString="StoreName=My;StoreLocation=LocalMachine;FindType=FindByThumbprint;FindValue=72754602BE788F746963DB7F0DEFBB5F0745DFA8" xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
  <add name="solr.search" connectionString="https://localhost:8984/solr" xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
  <add name="sitecoreidentity.secret" connectionString="vjWeCfW8YIPrNZBPZAF7N8V8gzxQCOpqc5p65Qz0drfTLhLdWbtkynbfkSZQJFG6Q4qw26wNOo6T27jb6gzzl5mkebnF4lua7R4y" xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
  <add name="xconnect.collection" connectionString="https://TestSite.SC91.xconnect" xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
  <add name="xconnect.collection.certificate" connectionString="StoreName=My;StoreLocation=LocalMachine;FindType=FindByThumbprint;FindValue=72754602BE788F746963DB7F0DEFBB5F0745DFA8" xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
  <add name="xdb.marketingautomation.operations.client" connectionString="https://TestSite.SC91.xconnect" xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
  <add name="xdb.marketingautomation.operations.client.certificate" connectionString="StoreName=My;StoreLocation=LocalMachine;FindType=FindByThumbprint;FindValue=72754602BE788F746963DB7F0DEFBB5F0745DFA8" xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
  <add name="xdb.marketingautomation.reporting.client" connectionString="https://TestSite.SC91.xconnect" xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
  <add name="xdb.marketingautomation.reporting.client.certificate" connectionString="StoreName=My;StoreLocation=LocalMachine;FindType=FindByThumbprint;FindValue=72754602BE788F746963DB7F0DEFBB5F0745DFA8" xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
  <add name="xdb.referencedata.client" connectionString="https://TestSite.SC91.xconnect" xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
  <add name="xdb.referencedata.client.certificate" connectionString="StoreName=My;StoreLocation=LocalMachine;FindType=FindByThumbprint;FindValue=72754602BE788F746963DB7F0DEFBB5F0745DFA8" xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
  <add name="PackageManagementServiceUrl" connectionString="https://updatecenter.cloud.sitecore.net/" xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
  <add name="EXM.CryptographicKey" connectionString="0x2146914549700288813247125305651481277636919413219832849000021653" xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
  <add name="EXM.AuthenticationKey" connectionString="0x5317316615081450246912650384348451427642835615989054382567162223" xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
</connectionStrings>