<?xml version="1.0" encoding="utf-8"?>
<connectionStrings>
  <!-- 
    Sitecore connection strings.
    All database connections for Sitecore are configured here.
  -->
  <add name="core" connectionString="Data Source=localhost;Initial Catalog=TestSite.SC91_Core;User ID=coreuser;Password=IkuECggRNAICwZf1V0sK" />
  <add name="security" connectionString="Data Source=localhost;Initial Catalog=TestSite.SC91_Core;User ID=securityuser;Password=Q86GQXutQBBCoZlLd6sK" />
  <add name="master" connectionString="Data Source=localhost;Initial Catalog=TestSite.SC91_Master;User ID=masteruser;Password=iVb7oVvZ3w3OKVfv5i5y" />
  <add name="web" connectionString="Data Source=localhost;Initial Catalog=TestSite.SC91_Web;User ID=webuser;Password=lt32Dhal0or1SQMbCA7Q" />
  <add name="messaging" connectionString="Data Source=localhost;Initial Catalog=TestSite.SC91_Messaging;User ID=messaginguser;Password=ov2ZrDWy0wXHhBdgUKOA" />
  <add name="xdb.marketingautomation" connectionString="Data Source=localhost;Initial Catalog=TestSite.SC91_MarketingAutomation;User ID=marketingautomationuser;Password=JpcNpfhlVbBltcFqKM4K" />
  <add name="xdb.processing.pools" connectionString="Data Source=localhost;Initial Catalog=TestSite.SC91_Processing.Pools;User ID=poolsuser;Password=rg3TcFFWZZxOGaNSVTYv" />
  <add name="xdb.referencedata" connectionString="Data Source=localhost;Initial Catalog=TestSite.SC91_ReferenceData;User ID=referencedatauser;Password=SDgLPuGca5RV0WXCGGBd" />
  <add name="xdb.processing.tasks" connectionString="Data Source=localhost;Initial Catalog=TestSite.SC91_Processing.Tasks;User ID=tasksuser;Password=5h4mK3Ynx8UlZtYaiPMS" />
  <add name="experienceforms" connectionString="Data Source=localhost;Initial Catalog=TestSite.SC91_ExperienceForms;User ID=formsuser;Password=vR562LYYeENFUVI3TTAJ" />
  <add name="exm.master" connectionString="Data Source=localhost;Initial Catalog=TestSite.SC91_EXM.Master;User ID=exmmasteruser;Password=py16bDpEbBZ7RfL9cGym" />
  <add name="reporting" connectionString="Data Source=localhost;Initial Catalog=TestSite.SC91_Reporting;User ID=reportinguser;Password=FhTTyBpxYR31nCk90uGc" />
  <add name="sitecore.reporting.client" connectionString="https://TestSite.SC91.xconnect" />
  <add name="sitecore.reporting.client.certificate" connectionString="StoreName=My;StoreLocation=LocalMachine;FindType=FindByThumbprint;FindValue=D1A2F243A1A275DACE0AB040E4F6E2B4467A3932" />
  <add name="solr.search" connectionString="https://localhost:8984/solr" />
  <add name="sitecoreidentity.secret" connectionString="4udeh1VMXNa0Z7orG6z5iGw1Bj4W2ks8F8yaqBaPDAHA0OQqK9OFpBFS5vKZzHTx0OhDnfZwX7hRldRluk7ZeqbNMfs1cStIiqV7" />
  <add name="xconnect.collection" connectionString="https://TestSite.SC91.xconnect" />
  <add name="xconnect.collection.certificate" connectionString="StoreName=My;StoreLocation=LocalMachine;FindType=FindByThumbprint;FindValue=D1A2F243A1A275DACE0AB040E4F6E2B4467A3932" />
  <add name="xdb.marketingautomation.operations.client" connectionString="https://TestSite.SC91.xconnect" />
  <add name="xdb.marketingautomation.operations.client.certificate" connectionString="StoreName=My;StoreLocation=LocalMachine;FindType=FindByThumbprint;FindValue=D1A2F243A1A275DACE0AB040E4F6E2B4467A3932" />
  <add name="xdb.marketingautomation.reporting.client" connectionString="https://TestSite.SC91.xconnect" />
  <add name="xdb.marketingautomation.reporting.client.certificate" connectionString="StoreName=My;StoreLocation=LocalMachine;FindType=FindByThumbprint;FindValue=D1A2F243A1A275DACE0AB040E4F6E2B4467A3932" />
  <add name="xdb.referencedata.client" connectionString="https://TestSite.SC91.xconnect" />
  <add name="xdb.referencedata.client.certificate" connectionString="StoreName=My;StoreLocation=LocalMachine;FindType=FindByThumbprint;FindValue=D1A2F243A1A275DACE0AB040E4F6E2B4467A3932" />
  <add name="PackageManagementServiceUrl" connectionString="https://updatecenter.cloud.sitecore.net/" />
  <add name="EXM.CryptographicKey" connectionString="0x9455128184522177968986411603013161320366536940687285164583888823" />
  <add name="EXM.AuthenticationKey" connectionString="0x4595012815662350003219139278077135288234525692582608756408571951" />
</connectionStrings>